.section-title {
    text-align: center;
    margin-top: 1em;
    background-color: #E2EBEC;
    padding: .5em 2em .5em 2em;
    border-radius: .3em;
}

.service {
    border-radius: .3em;
    background-color: #125832;
    text-align: center;
    padding: 3em 2em 2em 2em;
    color: white;
}

.service .glyphicon {
    font-size: 5em;
}